In [ ]:
# 0003_numbers.ipynb

# integers are whole numbers

age = 40

age2 = age + 5

"I will be {0} years old in five years time.".format(age2)

In [ ]:
# many times you need to convert from string to int

myage = "40"
print (type(myage))

myage_int = int(40)
print (type(myage_int))

print (myage_int+5)

In [ ]:
# python essentially has unlimited integer limit as long as you have enough RAM
print ("running...")
x = 2**2000
print (type(x))
print (x)

# be careful with this though you will hit upper bounds of database fields if you are not careful.
# this is one very nice feature but also can be a dangerous feature.

In [ ]:
# float data structure are any numbers with a decimal point.

percentage = 4.5
print (type(percentage))

# two integers can return a float
a = 8
b = 7

c = a / b
print (c)
print (type(c))

In [ ]:
# basic math from standard library
from math import floor
from math import ceil
from math import pi

a = 9.8
print (floor(a))
print (ceil(a))
print (round(a))
print (abs(a))
print (pi)

In [ ]:
# string to float

my_value = "3.14"

my_value2 = float(3.14)

"Now we can add to this value: {0}".format(my_value2+2.2)

In [ ]:
# int to float
# float to int

a = 1.0
print (type(a), end=" ")
print (a)

b = int(a)
print (type(b), end=" ")
print (b)

c = 1
print (type(c), end=" ")
print (c)

d = float(c)
print (type(d), end=" ")
print (d)

# any can be converted to string for printing
print ("a var is: " + str(a))

In [ ]:
# here is an example of a syntax error
# which will also return an object:
# TypeError: can only concatenate str (not "float") to str

my_value = "3.14"

"Now we can add to this value: {0}".format(my_value+2.2)

next tutorial: [0004_lists_and_tuples.ipynb	](https://mybinder.org/v2/gh/thesheff17/pythonexamples/master?filepath=src%2F0004_lists_and_tuples.ipynb)